body {
    font-family: 'Exo', sans-serif !important;
    background: #404040 !important;
    color: white !important;
    padding: 10px;
}

table {
    color: white !important;
}

#game {
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
}

.indicator {
    border-width: 3px !important;
}

.pulse-border {
    animation-name: pulse;
    animation-duration: 0.15s;
}

@keyframes pulse {
    30% {
        border-color: #50C8FF;
    }
}

.tab, #play-button, #accel-support {
    display: none;
}

.note {
    font-size: smaller;
    color: #AAAAAA;
}

.my-modal {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.my-modal-content {
    position: fixed;
    overflow: auto;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
}

.score-label {
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

.card {
    background: #505050 !important;
    padding: 20px;
    margin: 5px 0px;
}

.music-link {
    cursor: pointer;
}

.small-btn {
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

.pause-modal-btn {
    margin: 5px 0px;
}

#help-btn {
    border-radius: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 15px;
}

#play-own-container {
    cursor: auto;
}

.my-spinner {
    margin-bottom: 20px;
}

.progress, #play-own-btn {
    margin: 10px 0px;
}

.right {
    position: absolute;
    right: 0px;
}

.top {
    position: absolute;
    top: 0px;
}

.center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#menu {
    max-width: 800px;
    margin: auto;
}

#settings td {
    vertical-align: middle;
}

#settings table {
    width: 100%;
}

.music-name {
    font-weight: bold;
}

.music-author {
    color: #AAAAAA;
}

.blue {
    background: #50C8FF !important;
}

.dark-blue {
    background: #0079FF !important;
}

.white {
    background: white !important;
    color: black !important;
}

.red {
    color: #E93C3C;
}

a {
    color: #50C8FF !important;
}

a:hover {
    color: #0079FF !important;
}
