body {
    background-image: url("images/background.png");
    background-size: 200px;
    background-color: rgb(40, 40, 40);
    color: #FFFFFF;
    font-family: Exo, sans;
    padding-bottom: 15px;
}

.logo {
    max-width: 60vw;
    height: 80px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}

.my-container {
    color: #FFFFFF;
    background-color: rgba(40, 40, 40, 0.96);
    font-family: Exo, sans;
    font-size: large;
    margin-top: 15px;
    padding-bottom: 10px;
    border: solid 4px rgb(160, 160, 160);
    border-radius: 5px;
}

#play-button {
    width: 100%;
    color: black;
}

.my-container a {
    color: #50C8FF;
}

.my-container a:hover {
    color: #0079FF;
}

.download {
    text-decoration: none;
    font-family: Exo, sans;
    color: #FFFFFF !important;
    margin: 2px;
    border-radius: 0px;
}

.download-list {
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
}

.my-info {
    background-color: rgb(37, 90, 100);
    color: rgb(95, 195, 210);
}

.my-info-link {
    color: rgb(140, 240, 255);
    font-weight: bold;
}
.my-info-link:hover {
    color: rgb(20, 200, 255);
    font-weight: bold;
}

.row {
    padding: 8px 0px;
}

.my-navbar {
    background-color: rgb(30, 30, 30);
    font-family: Exo, sans;
    min-height: 80px;
}

.image {
    width: 100%;
    display: block;
}

.header {
    font-family: Exo, sans;
    color: rgb(50, 200, 255);
    font-weight: bold;

}

.crewmate {
    background-color: rgb(100, 100, 100);
    text-align: center;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
}
.buttons {
    font-size: 20px;
    margin:10px 10px 10px 10px;
}
.btn {
    margin: 10px 0 10px 0;
}

.blue {
    background: #50C8FF !important;
}
